.idea/aws.xml
.idea/encodings.xml
.idea/indexLayout.xml
.idea/projectSettingsUpdater.xml
.idea/vcs.xml
.idea/workspace.xml
nextjs-mariadb-crud/src/pages/landing-page.html
package-lock.json
nextjs-mariadb-crud/package-lock.json
package-lock.json
